@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #4988bd;
  color: white;
}

::-moz-selection {
  background-color: #4988bd;
  color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.swiper-container-borders {
  position: relative;
}

.swiper-container-borders::before,
.swiper-container-borders::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 3px;
  background-color: white;
}

.swiper-container-borders::before {
  left: 0;
}

.swiper-container-borders::after {
  right: 0;
}

.thumbs-swiper .swiper-slide-thumb-active {
  @apply border-2 border-452-blue-light;
}

.pswp {
  --pswp-bg: #000000;
  --pswp-placeholder-bg: #222;

  position: fixed;
  z-index: 9999;
}

.pswp__img {
  object-fit: contain;
}
