@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* ticker */

.ticker-content {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker 60s linear infinite;
}

.ticker-item {
  flex: 0 0 auto;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.swiper-container-borders {
  position: relative;
}

.swiper-container-borders::before,
.swiper-container-borders::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 3px;
  background-color: white;
}

.swiper-container-borders::before {
  left: 0;
}

.swiper-container-borders::after {
  right: 0;
}